@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p {
    font-weight: 300;
    color: blue;
}

/* 100 vh para que la imagen ocupe todo el alto disponible para la sección*/
.banner { 
    position: relative;
    width: 100%;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/banner1080-70opacity.jpg);
    background-size: cover;
    
}

.slogan {
    text-align: center;
    color: black;
    max-width: 1000px;
}

/*tamaño 6 veces el tamaño de la fuente del documento*/
.nombreCompañia {
    font-size: 5em;
    color: black;
    text-align: center;
}

.presentacion {
    font-size: 1em;
    color: black;
}

.mas {
    font-size: 1em;
    display: inline-block;
    margin-top: 15px;
    background: yellow;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 10px 20px;
    transition: 0.7s;
}

.mas:hover {
    letter-spacing: 4px;
}
